<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2 class="pl-15"><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, 'First Name', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :middle_name, 'Middle Name', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :middle_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :last_name, 'Last Name', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :email, 'Email', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :mobile_number, 'Mobile Number', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :mobile_number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :landline_number, 'Landline Number', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :landline_number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :notes, 'Notes', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_area :notes, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :image, 'Image', class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.file_field :image, class: 'form-control' %>
    </div>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="pl-15">
    <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
    <%= link_to 'Back', root_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
<div class="mt-50"></div>
